<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <!-- Bootstrap compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <!--Get your code at fontawesome.com-->
        <script src="https://kit.fontawesome.com/4d07055d3e.js" crossorigin="anonymous"></script>
        <!-- Favicon and CSS -->
        <link rel="shortcut icon" type="image/png" href="profile.jpg"/>
        <link rel="stylesheet" href="style.css" /> 
        <title>Team Profile Generator</title>
    </head>
    <body> 
        <div class="jumbotron jumbotron-fluid bg-info text-white text-center">
            <h2 class="display-4">Team Pied Piper</h2>
            <h4 class="lead">A brief introduction of my team members</h4>   
        </div>
        <div class="container">
            <div class="row">
                <!-- Manager -->
                <div class="col-xs-12 col-md-6 col-lg-4">       
                    <div class="card" style="width: 18rem;">
                        <div class="card-wrapper">
                            <div class="card-header bg-info text-white">
                                <h4 class="card-name">Richard</h4>
                                <h4><i class="fas fa-mug-hot"></i>&nbsp Manager</h4>
                            </div>
                            <div class="card-body bg-light" style="padding: 15px;">
                                <ul class="list-group">
                                    <li class="list-group-item">ID: 01</li>
                                    <li class="list-group-item">Email:
                                    <a target="_top" id="email" href="mailto:richard@pipedpiper.com">richard@pipedpiper.com</a></li>
                                    <li class="list-group-item">Office Number: 1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Engineer 1-->
                <div class="col-xs-12 col-md-6 col-lg-4">       
                    <div class="card" style="width: 18rem;">
                        <div class="card-wrapper">
                            <div class="card-header bg-info text-white">
                                <h4 class="card-name">Gilfoyle</h4>
                                <h4><i class="fas fa-glasses"></i>&nbsp Engineer</h4>
                            </div>
                            <div class="card-body bg-light" style="padding: 15px;">
                                <ul class="list-group">
                                    <li class="list-group-item">ID: 01</li>
                                    <li class="list-group-item">Email:
                                    <a target="_top" id="email" href="mailto:gilfoyle@pipedpiper.com">gilfoyle@pipedpiper.com</a></li>
                                    <li class="list-group-item">Github: gilfoyle</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Engineer 2-->
                <div class="col-xs-12 col-md-6 col-lg-4">       
                    <div class="card" style="width: 18rem;">
                        <div class="card-wrapper">
                            <div class="card-header bg-info text-white">
                                <h4 class="card-name">Dinesh</h4>
                                <h4><i class="fas fa-glasses"></i>&nbsp Engineer</h4>
                            </div>
                            <div class="card-body bg-light" style="padding: 15px;">
                                <ul class="list-group">
                                    <li class="list-group-item">ID: 01</li>
                                    <li class="list-group-item">Email:
                                    <a target="_top" id="email" href="mailto:dinesh@pipedpiper.com">dinesh@pipedpiper.com</a></li>
                                    <li class="list-group-item">Github: dinesh</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:30px;">
                <!-- Engineer 3-->
                <div class="col-xs-12 col-md-6 col-lg-4">       
                    <div class="card" style="width: 18rem;">
                        <div class="card-wrapper">
                            <div class="card-header bg-info text-white">
                                <h4 class="card-name">Jared</h4>
                                <h4><i class="fas fa-glasses"></i>&nbsp Engineer</h4>
                            </div>
                            <div class="card-body bg-light" style="padding: 15px;">
                                <ul class="list-group">
                                    <li class="list-group-item">ID: 01</li>
                                    <li class="list-group-item">Email:
                                    <a target="_top" id="email" href="mailto:jared@pipedpiper.com">jared@pipedpiper.com</a></li>
                                    <li class="list-group-item">Github: jared</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Intern -->
                <div class="col-xs-12 col-md-6 col-lg-4">       
                    <div class="card" style="width: 18rem;">
                        <div class="card-wrapper">
                            <div class="card-header bg-info text-white">
                                <h4 class="card-name">Jiahui</h4>
                                <h4><i class="fas fa-user-graduate"></i>&nbsp Intern</h4>
                            </div>
                            <div class="card-body bg-light" style="padding: 15px;">
                                <ul class="list-group">
                                    <li class="list-group-item">ID: 01</li>
                                    <li class="list-group-item">Email:
                                    <a target="_top" id="email" href="mailto:jiahui@pipedpiper.com">jiahui@pipedpiper.com</a></li>
                                    <li class="list-group-item">School: University of Michigan</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>